# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Env
.env
.venv/
venv/

# Node
node_modules/

# Editors
.idea/
.vscode/
*.swp

# Build
dist/
build/
app/static/frontend/
